MERGE_CODE_TOOL_ROOT_DIR=/path/to/your/github/repo
MERGE_CODE_TOOL_REPO_URL=https://github.com/username/repo
MERGE_CODE_TOOL_OUTPUT_FILE=output.md
MERGE_CODE_TOOL_EXTENSIONS=.js,.ts
MERGE_CODE_TOOL_EXCLUDE=node_modules,cache,.husky,build,.env